.cart-count{
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-left: -30px;
    width: 30px;
    position: absolute;
    text-align: center;
}

.cart-new{
    font-size: 40px; 
    color:white;
    font-weight: 700;
    position: relative;
    z-index: 2;
    padding-right: 20px;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    padding-bottom: 60px; 
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px; 
  }
  
  .home-link{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
